@import "global/variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  .background-logo {
    position: fixed;
    top: -20vh;
    right: -20%;
    height: 200vh;
    z-index: 1;
    filter: blur(4px);
    -webkit-filter: blur(4px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.box {
  background: rgba(white, 0.4);
  backdrop-filter: blur(2px);
  border-radius: $border-radius;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !important;
  padding: 16px;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  z-index: 2;
  position: relative;

  > .content-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $default-padding;
    gap: $default-padding;
    flex: 0;
  }
  
  > .content-center {
    width: 100%;
    flex: 1;
    overflow: auto;
  }
  
  > .content-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: $default-padding;
    align-self: flex-end;
    flex: 0;
  }
}