@import "global/variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  .background-logo {
    position: fixed;
    top: -20vh;
    right: -20%;
    height: 200vh;
    z-index: 1;
    filter: blur(4px);
    -webkit-filter: blur(4px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@mixin scrollbar($prefix) {
  &::#{$prefix}-scrollbar {
    width: $scroll-bar-width;
  }
  &::#{$prefix}-scrollbar-thumb{
    border: 1px solid $gewis-red;
    min-height: $scroll-bar-width;
    background: white;
    border-radius: 5px;
  }
  &::#{$prefix}-scrollbar-track{
    width: $scroll-bar-width;
    background: $gewis-red;
  }
  /* Buttons */
  &::#{$prefix}-scrollbar-button:single-button {
    background-color: $gewis-red;

    display: block;
    background-size: 20px;
    background-repeat: no-repeat;
  }

  /* Up */
  &::#{$prefix}-scrollbar-button:single-button:vertical:decrement {
    height: 32px;
    width: $scroll-bar-width;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center 10px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  /* Down */
  &::#{$prefix}-scrollbar-button:single-button:vertical:increment {
    height: 32px;
    width: $scroll-bar-width;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-position: center 10px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,0 100,0 50,50'/></svg>");
  }
}

.custom-scrollbar {
  scrollbar-width: $scroll-bar-width;

  @include scrollbar(-webkit);
  @include scrollbar(-moz);
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  z-index: 2;
  position: relative;

  > .content-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
    flex: 0;
  }
  
  > .content-center {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
  }
  
  > .content-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 16px;
    align-self: flex-end;
    flex: 0;
  }
}