@import "global/variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  .background-logo {
    position: fixed;
    top: -20vh;
    right: -20%;
    height: 200vh;
    z-index: 1;
    filter: blur(4px);
    -webkit-filter: blur(4px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  position: relative;
}

.content-top {
  width: 100%;
}

.content-center {
  width: 100%;
}

.content-bottom {
  width: 100%;
  align-self: flex-end;
}