@import "global/variables.scss";

.nav {
  background-color: $gewis-red;
}
.nav-item.active{
  background-color: darken($gewis-red, 10%);
}

.nav > .nav-item > .nav-link {
  color: white;
  text-align: center;
  font-size: 40px;
}
