@import "global/variables.scss";

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $default-padding-half;
}

.nav-item {
  border-radius: $border-radius;
  background-color: none;

  > .nav-link {
    padding: 16px $top-bottom-height/2;
    text-align: center;
    font-size: $font-size;
    line-height: $top-bottom-height/2;
    height: $top-bottom-height;
    color: $gewis-red;
  }

  &.active {
    background-color: $gewis-red;
    > .nav-link {
      color: white;
    }
  }
}

@media screen and (max-width: 520px) {
  .nav-item {
    margin-right: 8px;

    > .nav-link {
      padding: .5rem 1rem;
    }
  }
}